/* TEMP */

.cart {
    cursor: not-allowed;
}

/* TEMP */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
}

body {
    font-family: sans-serif;
    background-color: #ddd;
}

.navbar {
    padding: 1.5rem 2.5rem;
    background-color: #222;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #222;
    padding: 0.5rem;
    border-radius: 4px;
}

.cart_amount {
    background-color: red;
    color: #fff;
    position: absolute;
    top: -40%;
    right: -30%;
    padding: 0.25rem;
    border-radius: 4px;
}

.products {
    margin-block: 2rem;
    grid-template-columns: repeat(4, 230px);
    justify-content: center;
    gap: 2rem;

}

@media (max-width : 1000px) {
    .products {
        grid-template-columns: repeat(3, 230px);
    }
}
@media (max-width : 810px) {
    .products {
        grid-template-columns: repeat(2, 230px);
    }
}

@media (max-width : 510px) {
    .products {
        grid-template-columns: 230px;
    }
}

.product_card {
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 150ms ease-in;
}

.product_card:hover {
    transform: scale(1.05);
}

.cover_img {
    width: 100%;
}

.card_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.product_description {
    font-size: 14px;
    font-weight: lighter;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.price_and_amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 0.75rem;
}

.btn_minus,
.btn_plus {
    cursor: pointer;
}

.btn_minus {
    color: red;
}

.btn_plus {
    color: green;
}